#navbar_toggle {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  cursor: pointer;

  .toggle-icon {
    --width-icon: 25px;
    margin-right: 10px;

    .toggle-line {
      position: relative;
      height: 2px;
      background-color: $heading-color;
      width: 25px;
      transition: transform 0.5s, opacity 0.5s ease; /* Eklenen geçişler */

      &:not(:first-child) {
        margin-top: 5px;
      }

      &:nth-of-type(1), &:nth-of-type(3) {
        transform: scaleX(0.5);
      }

      &:nth-of-type(2) {
        width: var(--width-icon);
      }

      &:nth-of-type(1) {
        transform-origin: left;
      }

      &:nth-of-type(3) {
        transform-origin: right;
      }


    }


  }

  /* Web'de hover durumunda mobil görünüm için */
  &:hover .toggle-icon .toggle-line {
    background-color: $heading-color; /* Hover'da çizgi rengi */
    opacity: 1; /* Çizgilerin görünürlüğü */
  }

  &.open .toggle-icon .toggle-line:nth-of-type(1) {
    transform: translateY(7px) rotate(45deg); /* Çarpıya dönüşen üst çizgi */
  }

  &.open .toggle-icon .toggle-line:nth-of-type(2) {
    opacity: 0; /* Orta çizgi kaybolur */
    transition: opacity 0.3s ease; /* Daha hızlı kaybolma */
  }

  &.open .toggle-icon .toggle-line:nth-of-type(3) {
    transform: translateY(-7px) rotate(-45deg); /* Çarpıya dönüşen alt çizgi */
  }

  .toggle-text {
    position: relative;
    --animate-trans: translateY(5px) rotateX(75deg);
    min-width: 43px;
    color: $heading-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease; /* Geçişi düzenle */

    .text-open, .text-close {
      position: absolute;
      top: 0;
      left: 0;

      .char {
        opacity: 0;
        visibility: hidden;
        transform: var(--animate-trans);
        transition: opacity 0.5s, transform 0.5s ease; /* Metin için geçişler */
      }
    }

    /* Hamburger menü (açık değilken) */
    &:not(.open) .text-open .char {
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    /* Çarpı (açıkken) */
    &.open .text-close .char {
      opacity: 1;
      visibility: visible;
      transform: none;
    }

    .text-menu .char {
      opacity: 0;
      visibility: hidden;
      transform: var(--animate-trans);
    }
  }
}