/* Ana galeri düzeni */
.gallery-container {
  display: grid ;
  grid-template-columns: repeat(2, 1fr); /* Her satırda iki video */
  gap: 10px; /* Galeri öğeleri arasında boşluk */
  overflow: visible;
  height: auto;
  margin-left: 8%;
  margin-right: 20px;
}
.full-width {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; /* İframe'leri ortalamak için */
  align-items: center;     /* İframe'leri ortalamak için */
  cursor: pointer; /* Fare işaretçisi el işaretine dönüşsün */
  grid-column: span 2;
  margin-left: 6%;
  margin-left: 10%;
  height: 80vh ;
  aspect-ratio: 16/9; /* Oranı korumak için ekledik */
}

.gallery-containerOne {
  display: grid ;
  grid-template-columns: repeat(1, 1fr); /* Her satırda iki video */
  gap: 10px; /* Galeri öğeleri arasında boşluk */
  overflow: visible;
  height: auto;
  margin-left: 6%;
  margin-bottom:10px;
  margin-top: 5%;
  z-index:20;
}
.gallery-containerD{
  display: grid ;
  grid-template-columns: repeat(2, 1fr); /* Her satırda iki video */
  gap: 10px; /* Galeri öğeleri arasında boşluk */
  overflow: visible;
  height: auto;
  margin-left: 8%;
  margin-right: 20px;
  margin-top: 5%;
  z-index:20;
}

/* Galeri öğeleri */
.gallery-item {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 43vh; /* Sabit bir yükseklik belirledik */
  aspect-ratio: 16/9; /* Videoların oranını sabitle */
  display: flex;
  justify-content: center; /* İframe'leri ortalamak için */
  align-items: center;     /* İframe'leri ortalamak için */
  cursor: pointer; /* Fare işaretçisi el işaretine dönüşsün */
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Iframe'in tam alanı kapsaması için gerekli stil */
.gallery-item iframe {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Videoları alanına tam olarak sığdırır, orantısızlıkları kırpar */
  border: none;
  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover iframe {
  transform: scale(1.1); /* İframe içindeki video üzerine gelince daha fazla büyüsün */
}

/* Videoların olmadığı durumda arka plan videosu */
.no-videos {
  position: fixed !important; /* Sayfanın tamamını kapsaması için */
  top: 0;
  left: 0;
  width: 100vw; /* Tüm genişliği kapla */
  height: 100vh !important; /* Tüm yüksekliği kapla */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  color: white !important;
  z-index: 1 !important; /* Mesajın videonun üzerinde olması için */
}

.background-video {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important; /* Videoyu tam ekrana yay */
  z-index: -1 !important; /* Video arka planda olacak */
}

/* Modal düzeni */
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Yarı saydam arka plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal içeriği */
.modal-content {
  position: relative;
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Kapatma butonu */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
}

.close-button:hover {
  background-color: darkred;
}

/* Iframe düzeni */
.modal-content iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* styles.module.scss */
.copyright-text {
  font-size: 12px; /* Metin boyutunu ihtiyacınıza göre ayarlayın */
  margin-left: 2%;
}

.video-title {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.048);
  color: #fff; /* Beyaz yazı rengi */
  font-weight: 25px;
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 5px;
  pointer-events: none; /* Hover olaylarını engellemek için */
}
.video-description {
  position: absolute;
  bottom: 1px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.048);
  color: #fff; /* Beyaz yazı rengi */
  font-weight: 10px;
  padding: 5px 10px;
  font-size: 20px;
  pointer-events: none; /* Hover olaylarını engellemek için */
}
/* Mobilde tüm videolar alt alta */
@media (max-width: 768px) {
  .gallery-containerOne {
    grid-template-columns: repeat(1, 1fr); /* Her satırda iki video */
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 5%;
    gap: 5px; 
    padding: 0; 
    margin-bottom: 5px;
    //margin-bottom:-1%;
  }
  .gallery-container {
    grid-template-columns: repeat(1, 1fr) !important; /* Tek sütuna düşür */
    margin-left: 10px;
    margin-right: 10px;
    gap: 5px; /* Galeri öğeleri arasında boşluk */
    padding: 0;
  }
  .gallery-containerD {
    grid-template-columns: repeat(1, 1fr) !important; /* Tek sütuna düşür */
    margin-left: 10px;
    margin-right: 10px;
    gap: 5px; /* Galeri öğeleri arasında boşluk */
    padding: 0;
    //margin-top: 1.6%;
  }

  .gallery-item {
    height: 20vh !important; /* Mobilde daha düşük yükseklik */
  }
  .video-thumbnail {
    height: 25vh !important;
  }
  .full-width {
    height: 20vh !important; 
    
  }
  .video-thumbnailOne{
    height: 25vh !important; 
  }
  .video-title{
    font-size: 15px;
  }
  .video-description{
    font-size: 10px;
  }
  
}
/* iPad Air (820px genişlik) için özel medya sorgusu */
@media only screen and (min-width: 768px) and (max-width: 1024px)  {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr) !important; /* Tek sütuna düşür */
    margin-left: 0px;
    margin-right: 0px;
    gap: 5px; /* Galeri öğeleri arasında boşluk */
    padding: 0;
  }
  .gallery-containerD {
    grid-template-columns: repeat(1, 1fr) !important; /* Tek sütuna düşür */
    margin-left: 0px;
    margin-right: 0px;
    gap: 5px; /* Galeri öğeleri arasında boşluk */
    padding: 0;
  }
  .gallery-containerOne {
    margin-left: 0px;
    margin-right: 0px;
    gap: 5px; /* Galeri öğeleri arasında boşluk */
    padding: 0;
    margin-bottom: 5px;
    margin-top:5%;
  }
  .full-width {
    height: 20vh !important;
    
  }
  .video-thumbnailOne{
    height: 25vh !important; 
  }
  .gallery-item {
    height: 20vh !important; /* Mobilde daha düşük yükseklik */
  }
  .video-thumbnail {
    height: 25vh;
  }
  .video-title{
    font-size: 15px;
  }
  .video-description{
    font-size: 10px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .gallery-container {
    grid-template-columns: repeat(2, 1fr) !important; /* Tek sütuna düşür */
    margin-left: 10%;
    margin-right: 0px;
    gap: 5px; /* Galeri öğeleri arasında boşluk */
    padding: 0;
  }
  .gallery-containerD {
    grid-template-columns: repeat(1, 1fr) !important; /* Tek sütuna düşür */
    margin-left: 0px;
    margin-right: 0px;
    gap: 5px; /* Galeri öğeleri arasında boşluk */
    padding: 0;
  }
  .gallery-containerOne {
    grid-template-columns: repeat(1, 1fr) !important; /* Tek sütuna düşür */
    margin-left:10%;
    margin-right: 0px;
    gap: 5px; /* Galeri öğeleri arasında boşluk */
    padding: 0;
    margin-bottom: 5px;
    margin-top:5%;

  }
  .gallery-item {
    height: 20vh !important; /* Mobilde daha düşük yükseklik */
  }
  .video-thumbnail {
    height: 25vh;
  }
  .full-width {
    height: 20vh !important;
    
  }
  .video-thumbnailOne {
    height: 25vh !important;
  }
}

.video-thumbnailOne {
  height: auto;
  width: 100%;
  object-fit: cover; /* Videoyu orantılı bir şekilde sığdırır */
}