/* Ana galeri düzeni */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // Varsayılan olarak 2 sütunlu düzen
  overflow: visible;
  height: auto;
  object-fit: none;
}

/* Galeri öğeleri */
.gallery-item {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 60vh;
}

/* Resimlerin stil ayarları */
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

/* Hover durumunda geçiş efektleri */
.gallery-item:hover img {
  transition: transform 0.3s ease-in-out 1s;
  transform: scale(1.05);
}

.gallery-item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* Hafif bir üst katman */
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.gallery-item::before {
  opacity: 0;
  pointer-events: none;
}

/* Her beşinci resmi tam genişlikte yap */
.full-width {
  grid-column: span 2;
  height: 90vh !important;
}

/* Mobilde tüm resimler tek sütun halinde olacak */
@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: 1fr; /* Mobilde tek sütun düzeni */
  }
  .full-width {
    //grid-template-columns: 1fr;
    height: 40vh !important;
  }
  

  /* Mobilde yüksekliği sabitleyelim */
  .gallery-item {
    height: 40vh;
  }

  /* Mobilde hover efektini ve animasyonu kaldırabiliriz */
  .gallery-item img {
    transition: none;
  }

  .gallery-item:hover img {
    transform: none;
  }

  .gallery-item::before {
    display: none;
  }
}
